{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}BetWare{% endblock %}


{% block body %}
    <div class="container mt-5">
        <div id="content" class="row">
            <div id="left-menu" class="col-2 d">
                <ul>
                    {% for sportType in SportTypeList %}
                        <li><a href="/singleSport/{{ sportType.name }}">{{ sportType.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="middle-content" class="col-5 offset-1">
                {% if EventList is defined and EventList is not empty %}
                    {% for event in EventList %}
                        <div>
                            {% set teams = event.listSportTeams %}
                            {{ event.sportType.name }} :
                            <a href="/singleEvent/{{ event.id }}"><p>{{ teams[0].teamName }}
                                    <strong>VS</strong> {{ teams[1].teamName }}</p></a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="right-cart" class="col-2 offset-1">
                <p>Par ici les sous-sous</p>
            </div>
        </div>
    </div>
{% endblock %}

